@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --font-primary: Inter
;
}

header {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

header .bg-header img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.menu-nav {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 3rem;
  height: 10rem;
  position: relative;
  z-index: 1;
}

.menu-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo p {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.header-menu ul li {
  display: inline-block;
  height: 10rem;
}

.header-menu ul li a {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.3rem;
  display: block;
  padding: 2rem 3.2rem 4.3rem 2rem;
  position: relative;
  color: #000000;
  top: 2.1rem;
}

.header-menu ul li a:hover {
  background-color: #fd783a;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: relative;
  color: #ffffff;
}

.header-menu .somos {
  background-color: #fd783a;
  color: #ffffff;
}

.read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23rem;
  height: 5.9rem;
  background-color: #fd783a;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.read-more a {
  font-size: 1.7rem;
  font-family: var(--font-primary);
  color: #ffffff;
  padding: 2rem 4.5rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.read-more::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.read-more:hover::before {
  width: 100%;
  background-color: #1e06a5;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.fa-circle-arrow-right {
  margin-left: 1.2rem;
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
}

.line-menu {
  width: 97%;
  height: 10rem;
  border: .3rem solid #ffffff;
  position: absolute;
  top: 1.5rem;
  left: 2.8rem;
  z-index: -1;
}

/*
    *******  
*/
/*# sourceMappingURL=style.css.map */